.nodrag { 

width: 187px; 
padding: 0px;
background-color: white; 
margin-top:15px;
margin-bottom:15px;

/* outer shadows  (note the rgba is red, green, blue, alpha) */
box-shadow: 0px 0px 6px #C0C0C0; 
box-shadow: 0px 1px 6px #C0C0C0;

 /*rounded corners */
-webkit-border-radius: 7px;
-moz-border-radius: 7px; 
border-radius: 7px;

/*border: 1px solid #C0C0C0;*/

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), 
 color-stop(65%, white), color-stop(100%, #f7f7f7)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}



.center_content { 
width: 580px; 
height: 550px;
padding: 0px;
background-color: white; 
margin-top:15px;
float: left;
margin-left:10px;


/* outer shadows  (note the rgba is red, green, blue, alpha) */
box-shadow: 0px 0px 6px #C0C0C0; 
box-shadow: 0px 1px 6px #C0C0C0;

 /*rounded corners */
-webkit-border-radius: 7px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), 
 color-stop(65%, white), color-stop(100%, #f7f7f7)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}


.center_content_collab { 
width: 580px; 
height: 690px;
padding: 0px;
background-color: white; 
margin-top:15px;
float: left;
margin-left:10px;


/* outer shadows  (note the rgba is red, green, blue, alpha) */
box-shadow: 0px 0px 6px #C0C0C0; 
box-shadow: 0px 1px 6px #C0C0C0;

 /*rounded corners */
-webkit-border-radius: 7px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), 
 color-stop(65%, white), color-stop(100%, #f7f7f7)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}


 .pCentral { 
padding: 0px;
float:left;
position:relative;
width:570px;
margin-left:15px;
margin-top:15px;
background-color: white; 
/* outer shadows  (note the rgba is red, green, blue, alpha) 
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

 rounded corners 
-webkit-border-radius: 7px;
-moz-border-radius: 7px; 
border-radius: 7px;*/
border: 1px solid rgb(23, 69, 88, .5);

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), 
 color-stop(65%, white), color-stop(100%, #f7f7f7)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}