<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DicodePruebaJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProfile</display-name>
    <servlet-name>ChangeProfile</servlet-name>
    <servlet-class>servlets.ChangeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProfile</servlet-name>
    <url-pattern>/ChangeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>servlets.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>servlets.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Activation</display-name>
    <servlet-name>Activation</servlet-name>
    <servlet-class>servlets.Activation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activation</servlet-name>
    <url-pattern>/Activation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishService</display-name>
    <servlet-name>PublishService</servlet-name>
    <servlet-class>servlets.PublishService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishService</servlet-name>
    <url-pattern>/PublishService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateService</display-name>
    <servlet-name>UpdateService</servlet-name>
    <servlet-class>servlets.UpdateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateService</servlet-name>
    <url-pattern>/UpdateService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceDB</display-name>
    <servlet-name>DeleteServiceDB</servlet-name>
    <servlet-class>servlets.DeleteServiceDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceDB</servlet-name>
    <url-pattern>/DeleteServiceDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateExperiment</display-name>
    <servlet-name>CreateExperiment</servlet-name>
    <servlet-class>servlets.CreateExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExperiment</servlet-name>
    <url-pattern>/CreateExperiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCollaborative</display-name>
    <servlet-name>CreateCollaborative</servlet-name>
    <servlet-class>servlets.CreateCollaborative</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCollaborative</servlet-name>
    <url-pattern>/CreateCollaborative</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeService</display-name>
    <servlet-name>IncludeService</servlet-name>
    <servlet-class>servlets.IncludeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeService</servlet-name>
    <url-pattern>/IncludeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteService</display-name>
    <servlet-name>DeleteService</servlet-name>
    <servlet-class>servlets.DeleteService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteService</servlet-name>
    <url-pattern>/DeleteService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>servlets.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePermissions</display-name>
    <servlet-name>UpdatePermissions</servlet-name>
    <servlet-class>servlets.UpdatePermissions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePermissions</servlet-name>
    <url-pattern>/UpdatePermissions</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
</web-app>